# Copy this file to 'backend.env', set the values, and do not commit

# Required: the GITHUB Token to access the GraphQL API
GITHUB_PA_TOKEN=

# Redis host (for persistence)
REDIS_HOST=githubkpis-redis
#REDIS_PORT=6379

# Interface/port to listen to (0.0.0.0 - to open to the external IFs of the running container)
#API_HOST=0.0.0.0
#API_PORT=1996
